@import 'nib'

@import url('http://roboto-webfont.googlecode.com/svn/trunk/roboto.all.css');

global-reset()


color1 = #616161
backcolor = #ffffff
backcolor2 = #aaaaa2

body
  font-family 'Consolas'
  background-color backcolor
  color #555

header
  font-family 'Roboto Light'
  padding 40px 10px
  background-color color1
  font-size 60px
  text-align center
  color #ffffff

form
  input[type = text]
    padding 10px 15px 10px 20px
    color #17823d
    background-color #7accc8
    width 400px
    font-size 20px
textarea
  width 300px

.container
  margin 50px auto


.main-content
  text-align center
  font-size 14px
  p
    margin-bottom 20px

.side-content
  float left
  width 200px
  background-color #aaaaaa
  font-size 13px
  height 200px
