@import 'nib'

@import url('http://roboto-webfont.googlecode.com/svn/trunk/roboto.all.css');

global-reset()


color1 = #3a3a0a
backcolor = #aafaf2
backcolor2 = #aaaaa2

body
  font-family 'Roboto'
  background-color backcolor
  color #555

header
  font-family 'Roboto Thin'
  padding 50px 10px
  background-color color1
  font-size 60px
  text-align center
  color #ffffff


.container
  width 95%
  margin 50px auto


.main-content
  float left
  font-size 21px

  p
    margin-bottom 20px

.midtitle
  font-size 30px
  font-family 'Roboto Light'
  margin 20px auto
