extend template

h1 asdfsa
block maintext
  script(src='/js/usercontrol.js')
  script(src='/js/test.js')
  script(type='text/javascript'). 
    var _querydata = !{JSON.stringify(_data)};
    console.log(_querydata);
    for (var i in _querydata){
      var bx, by, bz;
      bx = _querydata[i].x;
      by = _querydata[i].y;
      bz = _querydata[i].z;
      addBar(bx * 50, by, bz * 50);
    }
