extend template

doctype html
html
	head
	title= title
	body
block maintext
	h1 Title
	script(type='text/javascript', src='https://code.jquery.com/jquery-latest.min.js')
	script.
		var tableName = location.search.split('filename=')[1];

		$.getJSON('/retrieveData', { filters: tableName }, function(data){
				//document.write(data);
				var columnNames[];
				for (key in data) {
					columnName.push(key);
 
				}
				
//_.keys(_querydata[0]]);
				$("thread").appent("<tr><th>"+  + "</th><th>" +  + "</th></tr>")

				$.each(data, function(i, f) {
					//document.write(f.weight);
					$("tbody").append("<tr><td>" + f.weight + "</td><td>" + f.height +"</td></tr>" );
				});
			}
		);

	p
		table(id="entrydata")
			thread
				tr
					th(class='dataColumn') Fuck
					th(class='dataColumn') You
					th(class='dataColumn') Bitch
					th
			tbody
				


				
						
		