extend template

doctype html
html
	head
	title= title
	body
block maintext
	script(type='text/javascript', src='https://code.jquery.com/jquery-latest.min.js')
	script(type='text/javascript', src='js/lodash.min.js')
	script.
		var tableName = location.search.split('filename=')[1];
		var query = "select * from " + tableName;
		$.getJSON('/retrieveData', { myQuery : query }, function(data){
				var columnNames;
				columnNames = _.keys(data[0]);
				//var in = columnNames.indexOf("");
				//l[in];
				$("tbody").append("<tr><td>"+ columnNames[2] + "</td>><td>" + columnNames[1] + "</td></tr>");
				$.each(data, function(i, f) {
					var l = _.values(f);
					$("tbody").append("<tr><td>" + l[2] + "</td><td>" + l[1] +"</td></tr>" );
				});
			}
		);
		function SortData(){
			console.log(tableName);
			//var getTableQuery = "SELECT table_name FROM information_schema.columns WHERE table_schema = 'public'";
			var getColumnQuery = "SELECT column_name FROM information_schema.columns where table_name = '" + tableName + "'";
			$.getJSON('/retrieveData', { myQuery : getColumnQuery }, function(data){
				var columnNames = [];
				$.each(data, function(i, f) {
					columnNames.push(f.column_name);
				});
				// requesting sort
				var sortQuery = "select * from " + tableName + " ORDER BY (substring(" + columnNames[2] + ", '^[0-9]+'))::int, substring(" + columnNames[2] + ", '[^0-9_].*$')";
				$.getJSON('/retrieveData', { myQuery : sortQuery }, function(data){
					var colNames;
					colNames = _.keys(data[0]);
					$("tbody").html("");
					$("tbody").append("<tr><td>"+ colNames[2] + "</td>><td>" + colNames[1] + "</td></tr>");
					$.each(data, function(j, g) {
						var l = _.values(g);
						$("tbody").append("<tr><td>" + l[2] + "</td><td>" + l[1] +"</td></tr>" );
						});
					}
				);
			}
		);
		}
	p
		form(name='viewUploadedFiles')
			input(type='button', value='Sort', onclick='SortData()')


		table(id="entrydata")
			tbody
