extend navtemplate
block maintext
  .row
    .center
      h3 File Upload
      hr
      form.uploader(action="/files", method="post", enctype="multipart/form-data")
          input.file-input(type="file" accept=".csv", name="datafile" id="file" data-multiple-caption="{count} files selected" multiple)
          label(for="file")
            span Choose a file
          br

          input(type='radio', name='visualType', value='0', checked)
          |  General  
          br
          input(type='radio', name='visualType', value='1')
          |  Globe  
          br
          input(type='radio', name='visualType', value='2', disabled='true')
          |  NBA  
          br
          input.button2(type="submit" value="Upload" disabled="disabled" id="upload")
  br
  .row
    form#my-awesome-dropzone.CustDropzone(action='/files', method='post')
    .center
      h3 Table List
      hr
      table.filetable
        thead
          th Table Name
          th Options
        tbody

  script(src='https://rawgit.com/enyo/dropzone/master/dist/dropzone.js')
  script(src='static/js/files.js')
  script(src='https://code.jquery.com/jquery-2.1.4.min.js')
    
