extend navtemplate
block maintext
  .row
    .large-centered
      form.uploader(action="/file-upload", method="post", enctype="multipart/form-data")
        .large-6.columns
          input.file-input(type="file" accept=".csv", name="datafile")
        .large-6.columns
          input(type="submit", value="Upload")
  br
  .row
    .large-centered
      table.filetable
        tr
          th File
          th Options
  script(src='http://code.jquery.com/jquery-2.1.4.min.js')
  script.
    function openFunc(btnID) {
      console.log("clicked open!");
      var index = btnID.substring(10);
      var tableName = fileListings[parseInt(index)];
      var loc = '/displayData?filename=';
      loc = loc.concat(tableName);
      console.log(loc);
      window.location.href = loc;
      // Enter Code here
    }
    function deleteFunc(btnID){
      var fileName = btnID;
      $.post('/delData', { tName: fileName }, function(data){
        console.log(data);
        if (data == true){
          location.reload();
        }
        else {
          console.log("It died");
        }
      }, 'json');
    }
    $.get('/tables', function(data){
      var d = JSON.parse(data);
      for (i = 0; i < d.length; i++)
        $('.filetable').append('<tr><td>'+ d[i].table_name +'</td><td>\
        <input type="button" class="delbutton" id='+ d[i].table_name +' value="Delete" onclick="deleteFunc(this.id)">\
        </td></tr>')
      })
