extend template

h1 head

block maintext
	script.

		function clickFunc() {
			//var div = document.getElementById('testform');
			//div.innerHTML = div.innerHTML + "Hello World!";
			
			move();
			//var div = document.getElementById('body');
			//div.innerHTML = div.innerHTML + "HI ";
			//document.write("fajdlkf\n");
			//document.write("fja;dkssdfasdf\n");
		}
		function move() {
			window.location.href = '/showList'
		}


	p

	form(name='testform')
		label Name
			br
			input(type='text', name='username', id='user')
			br
			input(type='button', value='Search', onclick='clickFunc()')
	br
	br
	//This form take three input and pass them to the node -- Newman
	//1label After submitting values, values will be passed to node. Node will then combine the values into a single Json object and pass it back to the jade.

	form(name='TestJSON', method="POST", action="/")
		label Value1
			br 
			input(type='text', name='text1')
		br
		label Value2
			br 
			input(type='text', name='text2')
		br
		label Value3
			br 
			input(type='text', name='text3')
		br
		input(type='submit', value='GenerateJsonFiles')
		//Get the Json object from node and render it as string -- Newman
		br
		label JsonBackFromNode: #{JSON.stringify(Json)}


block sidetext
	p SIDEBAR

	
