extend navtemplate
block maintext
  .row
    .large-8.columns
      select(id='listUploaded')
        each item in tables
          option(selected=item.table_name) #{item.table_name}
    .large-3.columns
      form(name='importData')
        input(type='button', value='Import', onclick='uploadClick()')

    #slider

    meta(charset='utf-8')
    link(rel='stylesheet', href='//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css')
    script(src='//code.jquery.com/jquery-1.10.2.js')
    script(src='//code.jquery.com/ui/1.11.4/jquery-ui.js')
    script.
      $(function() {
      	$( "#slider" ).slider({
      	  range: true,
      	  min: 0,
      	  max: 500,
      	  values: [ 75, 300 ],
      	});
       	  
      });
