extend navtemplate
block maintext
  section.hero
    .row.intro
      .large-centered
        h1 Simple 3D Data Visualizations
        p
          | Just upload a file and select what you want displayed.
        a.d(href='/uploadPage' class="button") Upload Now
      
        
    
