extend navtemplate
block maintext
  section.hero
    .row.intro
      .large-centered
        h1 Simple 3D Data Visualizations
        p
          | Just upload a file and select what you want displayed.
        a.d(href='/uploadPage' class="button") Upload Now
  script(type='text/javascript', src='https://code.jquery.com/jquery-latest.min.js')
  script(type='text/javascript', src='/js/foundation.min.js')
  script.
    $(document).foundation();
      
