extend navtemplate
block maintext
  section.hero
    .row.intro
      .large-centered
        h1 Simple 3D Data Visualizations
        p
          | Just upload a file and select what you want displayed.
        a(href='/' class="button") Upload Now
