head
  title PROJECTNAME
  link(rel='stylesheet', href='/css/foundation.css' type='text/css')
  link(rel='stylesheet', href='/css/style.css' type='text/css')
  body
    link(href='https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css', rel='stylesheet')
    div
      nav.navbar
        .container
          .nav-header
            a(href='/') ProjectName
          .subnav
            ul.header-subnav
              li
                a(href='/') Upload
              li
                a(href='/visualize') Visualization
              li
                a(href='/') About
    block maintext
      
