head
  title PROJECTNAME
  link(rel='stylesheet', href='/css/foundation.css' type='text/css')
  link(rel='stylesheet', href='/css/style.css' type='text/css')
  link(href='https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css', rel='stylesheet')
  link(href='https://fonts.googleapis.com/css?family=Gudea:400,700', rel='stylesheet')
  body
    div
      nav.navbar
        .container
          .nav-header
            a(href='/') 3DVisNShit
          .subnav
            ul.header-subnav
              li
                a(href='/') Upload
              li
                a(href='/visualize') Visualization
              li
                a(href='/') About
    block maintext
      
