head
  meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, minimal-ui')
  meta(name="apple-mobile-web-app-capable" content="yes")
  title Reality
  link(rel='stylesheet', href='static/css/foundation.css' type='text/css')
  link(rel='stylesheet', href='static/css/style.css' type='text/css')
  link(href='https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css', rel='stylesheet')
  link(href='https://fonts.googleapis.com/css?family=Gudea:400,700', rel='stylesheet')
  link(href='https://fonts.googleapis.com/css?family=Lato:400,700', rel='stylesheet')
  body
    div
      nav.top-bar(data-topbar role="navigation")
        ul.title-area
          li.name
            h1
              a(href='/') GraphiqReality
          li.toggle-topbar.menu-icon
            a(href='#')
              span
        section.top-bar-section
          ul.right
            li
              a(href='/files') Files
            li
              a(href='/visualize') Visualization
            li
              a(href='/about') About
    block maintext
      
