extend vistemplate
block sidelist
	ul.off-canvas-list
		li
			label Team
		li
			select(id='Team Name')
				option(value='' selected='selected' disabled="disabled") Choose Visual
				option(value='bar') bar
				option(value='scatter') scatter
		li
			label Player
		li
			select(id='PlayerName')
				option(value='' selected='selected' disabled="disabled") Choose Table
				
		
		
