head yo

block three
	style
		body { margin: 0; }
		canvas { width: 100%; height: 100% }
	script(src='js/three.min.js')
	script(src='js/TextGeometry.js')
	script(src='js/FontUtils.js')
	script(src='js/helvetiker_regular.typeface.js')
	script(src='/js/OrbitControls.js')
	script(src='/js/usercontrol.js')
	script(src='/js/scatter.js')
	script.
		var scene = new THREE.Scene();
		var camera = new THREE.PerspectiveCamera( 75, window.innerWidth/window.innerHeight, 0.1, 1000 );
		var renderer = new THREE.WebGLRenderer({alpha:true});
		setupScene();
		var query = !{JSON.stringify(_data)}
		var geometry = new THREE.SphereGeometry( 0.25, 32, 32 );
		var material = new THREE.MeshBasicMaterial( {color: 0xffff00} );
		//- var sphere = new THREE.Mesh( geometry, material );
		var x=0;
		var y=0;
		var z=0;
		var xScale = findMax(query, '_price');
		var yScale = findMax(query, 'height');
		var zScale = findMax(query, 'width');
		console.log("xScale: "+xScale+"  yScale: "+yScale+"  zScale: "+zScale);
		for(var i in query)
		{
			//- x = x[i]._price;
			//- y = x[i].height;
			//- z = x[i].width;
			console.log("x: "+query[i]._price+"  y: "+query[i].height+"  z: "+query[i].width);
			if(query[i]._price != "NULL"){x = query[i]._price *5 / xScale;}
			if(query[i].height != "NULL"){y = query[i].height *5 / yScale;}
			if(query[i].width != "NULL"){z = query[i].width *5 / zScale;}
			//- x++;
			//- y++;
			//- z++;
			console.log("_x: "+x+"  _y: "+y+"  _z: "+z);
			createNode(geometry, material, x, y, z);
			//- console.log(x[i]._price);
		}	




		sphere.position.set(x, y, z);
		scene.add( sphere );
		renderScatter();
