doctype html
html
  head
    title= title
  body
  script.
		function clickFunc() {
			//var div = document.getElementById('testform');
			//div.innerHTML = div.innerHTML + "Hello World!";
			
			move();
			//var div = document.getElementById('body');
			//div.innerHTML = div.innerHTML + "HI ";
			//document.write("fajdlkf\n");
			//document.write("fja;dkssdfasdf\n");
		}
    p welcome to the other page!