html
  head
    title!= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='http://code.jquery.com/jquery-latest.min.js')
  body
    header
      h1 PLACEHOLDER
    .container
      //.side-content
        //block sidetext
      .main-content
        block maintext
        
