html
  head
    title PROJECTNAME
    link(rel='stylesheet', href='/css/foundation.css' type='text/css')
    link(rel='stylesheet', href='/css/style.css' type='text/css')
    html
      body
        script(type='text/javascript', src='https://code.jquery.com/jquery-latest.min.js')
        link(href='http://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css', rel='stylesheet')
        header.header
          h1.main-header OUR PROJECT STUFF
          ul.header-subnav
            li
              a(href='/bars') Bars
            li
              a(href='/') Home
        block maintext
        
