extend navtemplate
block maintext
	.upload-container
		.row
			.large-6.columns.active
				a.l(href="#") Local File
			.large-6.columns
				a.u(href="#") URL
		.uploadBox
			.LocalBox
				form.uploader(action="/file-upload", method="post", enctype="multipart/form-data")
					input(type="file" accept=".csv", name="datafile")
					input(type="submit", value="Upload")
				ul
					li
						a= fileData
			.URLBox
				h1 Not implemented
	script(type='text/javascript', src='https://code.jquery.com/jquery-latest.min.js')
	script.
		$('.URLBox').hide();
		$('.l').click(function (e){
			e.preventDefault();
			$('.l').parent().addClass('active');
			$('.u').parent().removeClass('active');
			$('.LocalBox').show();
			$('.URLBox').hide();
		})
		$('.u').click(function (e){
			e.preventDefault();
			$('.u').parent().addClass('active');
			$('.l').parent().removeClass('active');
			$('.LocalBox').hide();
			$('.URLBox').show();
		})
		
