doctype html
html
	head
	title= title
	body
block what
	script(type='text/javascript', src='/js/socket.io.js')
	script.
		var fileListings = [];
		function openFunc(btnID) {
			console.log(btnID);
			var index = btnID.substring(10); 
			console.log(fileListings[parseInt(index)]);
			
			// Enter Code here
			
		}
		function deleteFunc(btnID){

			var index = btnID.substring(12); 
			var fileName = fileListings[parseInt(index)];

			//var socket = io.connect("http://localhost:4500");
			
			var socket = io.connect("https://thawing-temple-7343.herokuapp.com");

			socket.on('connect', function () {
				console.log("Connected!");
				socket.emit('deleteFile', fileName);
				
			});

			socket.on('doneDelete', function(deleteResult){
				socket.disconnect();
				location.reload();
			});
			
		}

	h1.
	List of Uploaded Files

	ul
		script.
			fileListings="#{showFiles}".split(",");			
			
		each files, i in showFiles
			li
				a= files 
				input(type='button', id='openbutton'+i, value='open', onclick='openFunc(this.id)')
				input(type='button', id='deletebutton'+i, value='delete', onclick='deleteFunc(this.id)')