doctype html
html
	head
	title= title
	body
block what
	h1.
		uploadPage

	p

	form(action="/file-upload", method="post", enctype="multipart/form-data")
		input(type="file", name="displayImage")
		input(type="submit")