extends layout

block content
	h1= title
	p  Welcome #{locals.user.FirstName} #{locals.user.LastName}!
		| <br> your email is.... #{locals.user.Email}
		| <br> I know everything about you! Muhahahaha
