extend vistemplate
block sidelist
	ul.off-canvas-list
		li
			label Visualization
		li
			a(href='#') option 3
		li
			select
				option test
				option sfs
block scripts
	script(src='/js/three.min.js')
	script(src='/js/OrbitControls.js')
	script(src='/js/init.js')
	script(src='/js/bars.js')
	script.
		init();
		initbars();
		addBar(1,144,12);
