extend vistemplate
block sidelist
	ul.off-canvas-list
		li
			label Visualization
		li
			select(id='VisualList')
				option(value='' selected='selected' disabled="disabled") Choose Visual
				option(value='bar') bar
				option(value='scatter') scatter
				option(value='globe') globe
				option(value='basketball') basketball
		li
			label Table
		li
			select(id='TableList')
				option(value='' selected='selected' disabled="disabled") Choose Table
				each item in tables
					option(value=item.table_name) #{item.table_name}
		li#columnOption
			a.off-canvas-submenu-call(href='#')
				| Column Selection
				span.right -
		ul#columnSelection.off-canvas-submenu
		li#filtersOption
			a.off-canvas-submenu-call(href='#')
				| Filters
				span.right -
		ul#filters.off-canvas-submenu
			li#filters1
			li#filters2
			li#filters3
		li.b
			input.button(type='button', value='Apply', onclick='generateVisuals()')
			input.button(type='button', value='Enter VR', onclick='VRBottonPressed()')
		li.c
			input(id="sphere" type='checkbox', checked=false)
			p Sphere Toggle
block scripts
	script(src='static/js/lib/three.min.js')
	script(src='static/js/lib/TextGeometry.js')
	script(src='static/js/lib/FontUtils.js')
	script(src='static/js/lib/helvetiker_regular.typeface.js')
	script(src='static/js/lib/DeviceOrientationControls.js')
	script(src='static/js/lib/OrbitControls.js')
	script(src='static/js/lib/lodash.min.js')
	script(src='static/js/lib/d3.min.js')
	script(src='static/js/lib/StereoEffect.js')
	script(src='static/js/filters.js')
	script(src='static/js/basketball.js')
	script(src='static/js/init.js')
	script(src='static/js/scatter.js')
	script(src='static/js/vrDetection.js')
	script(src='static/js/bars.js')
	script(src='static/js/globe/globe.js')
	script(src='static/js/globe/globeInit.js')

	link(rel='stylesheet', href='//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css')
	script(src='//code.jquery.com/ui/1.11.4/jquery-ui.js')
