extend vistemplate
block sidelist
	ul.off-canvas-list
		li
			label Visualization
		li
			a(href='#') Option 3
		li
			select(id='VisualList')
				option(value='' selected='selected' disabled="disabled") Choose Visual
				option(value='bar') bar
				option(value='scatter') scatter
		li
			select(id='TableList')
				option(value='' selected='selected' disabled="disabled") Choose Table
				each item in tables
					option(selected=item.table_name) #{item.table_name}
		li
			input(type='button', value='Apply', onclick='visualSelected()')

		li
			a.off-canvas-submenu-call(href='#')
				| Option 2
				span.right +

		ul#filters.off-canvas-submenu
			li
				a(href='#') Sub menu 1
			li
				a(href='#') Sub menu 2
			li
				a(href='#') Sub menu 3

		li
			a.off-canvas-submenu-call(href='#')
				| Option 2
				span.right +

		ul#columns.off-canvas-submenu


block scripts
	script(src='/js/three.min.js')
	script(src='/js/OrbitControls.js')
	script(src='/js/init.js')
	script(src='/js/bars.js')
	script(type='text/javascript').
