.center {
  margin-top: 2rem;
  text-align: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.center hr {
  width: 25%;
  margin: 1rem auto;
}
.top-bar,
.top-bar-section li a,
.top-bar .name h1 a,
.top-bar expanded,
.left-off-canvas-menu {
  background: #fff;
  color: #000;
}
.top-bar .name h1 a {
  font-size: 1.65em;
  font-weight: 500;
  font-family: 'Gudea', sans-serif;
  position: relative;
}
.top-bar .name h1 a:hover {
  background-color: #fff;
}
.top-bar {
  border-color: #000;
  border-width: 0;
  border-bottom: 1px;
  border-style: solid;
}
ul.title-area {
  background: #fff !important;
}
ul.right li a {
  font-size: 0.875rem;
  color: #000;
  text-transform: uppercase;
  display: block;
  font-weight: 200;
  letter-spacing: 1px;
  position: relative;
}
ul.off-canvas-list {
  max-width: 90%;
  margin: auto;
}
ul.off-canvas-list li {
  font-family: Lato;
  padding: 0.5em 0 0.5em 0;
}
ul.off-canvas-list li label {
  border-top: none;
  background-color: rgba(0,0,0,0);
  color: #000;
  font-size: 0.75em;
  padding: 0.15em;
  cursor: initial;
}
ul.off-canvas-list li label.flabel {
  text-transform: none;
  font-weight: normal;
  display: inline;
  background-color: #fff;
  font-size: 1rem;
  padding: 0;
  margin: 0;
  cursor: pointer;
}
ul.off-canvas-list li a {
  border: 0;
  color: #000;
  background-color: rgba(0,0,0,0);
  padding: 0;
}
ul.off-canvas-list li a:hover {
  background-color: rgba(0,0,0,0);
  color: #666;
}
ul.off-canvas-list li.b {
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  text-align: center;
}
ul.off-canvas-list li.c {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
ul.off-canvas-list p {
  color: #000;
  display: inline-block;
  margin: 0;
}
ul.off-canvas-list div.ui-slider {
  width: 90%;
  margin: 0 auto;
}
ul.off-canvas-list select {
  margin: 0 auto;
}
ul.off-canvas-submenu {
  list-style-type: none;
  margin-left: 0.1rem;
}
ul.off-canvas-submenu select {
  max-width: 85%;
  margin-left: 1em;
}
ul.footer1 {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.tab-bar {
  background-color: rgba(250,250,250,0);
  float: left;
}
.tab-bar .menu-icon span:after {
  height: 0.1rem;
  margin-top: -0.3rem;
  -webkit-box-shadow: 0 -3px 0px 1px #333, 0 4px 0 1px #333, 0 11px 0 1px #333;
  box-shadow: 0 -3px 0px 1px #333, 0 4px 0 1px #333, 0 11px 0 1px #333;
}
.tab-bar .menu-icon span:hover:after {
  -webkit-box-shadow: 0 -3px 0 1px #b3b3b3, 0 4px 0 1px #b3b3b3, 0 11px 0 1px #b3b3b3;
  box-shadow: 0 -3px 0 1px #b3b3b3, 0 4px 0 1px #b3b3b3, 0 11px 0 1px #b3b3b3;
}
.top-bar .toggle-topbar.menu-icon a {
  color: #000;
}
.top-bar .toggle-topbar.menu-icon a span::after {
  height: 0.1rem;
  margin-top: -0.3rem;
  -webkit-box-shadow: 0 -3px 0px 1px #333, 0 4px 0 1px #333, 0 11px 0 1px #333;
  box-shadow: 0 -3px 0px 1px #333, 0 4px 0 1px #333, 0 11px 0 1px #333;
}
.top-bar .toggle-topbar.menu-icon a:hover:after {
  -webkit-box-shadow: 0 -3px 0 1px #b3b3b3, 0 4px 0 1px #b3b3b3, 0 11px 0 1px #b3b3b3;
  box-shadow: 0 -3px 0 1px #b3b3b3, 0 4px 0 1px #b3b3b3, 0 11px 0 1px #b3b3b3;
}
.move-right .exit-off-canvas {
  -webkit-box-shadow: 1px 0px 2px rgba(0,0,0,0.5), 1px 0px 2px rgba(0,0,0,0.5);
  box-shadow: 1px 0px 2px rgba(0,0,0,0.5), 1px 0px 2px rgba(0,0,0,0.5);
}
.visual {
  height: 100%;
}
input.button {
  background-color: #666;
  color: #fff;
  font-family: Lato, "Helvetica Neue", Arial, sans-serif;
}
input.button:hover,
input.button:focus {
  background-color: #333;
}
form.filterselect {
  max-height: 250px;
  border: 0;
  padding: 0.5em;
}
.fbox {
  overflow-y: auto;
  overflow-x: auto;
  white-space: nowrap;
  max-height: inherit;
}
.hero {
  margin: auto;
  background: url("/static/img/a.jpg") #42c5fa;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  height: 24rem;
  font-family: Lato, "Helvetica Neue", Arial, sans-serif;
}
.hero .intro {
  padding: 2rem;
  position: relative;
}
.hero .hero-container {
  display: block;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  text-align: center;
}
.hero h1 {
  font-size: 2rem;
  line-height: 1.5em;
  letter-spacing: -0.025em;
  font-weight: 400;
  text-align: center;
  font-family: inherit;
}
.hero p {
  line-height: 1.75em;
  font-weight: 300;
  text-align: center;
  margin-bottom: 2rem;
  color: inherit;
  font-size: 1rem;
  text-align: center;
}
.hero a.button {
  margin: 0.35rem;
  display: inline-block;
  background-color: rgba(0,0,0,0);
  border-style: solid;
  border-color: #000;
  border-width: 2px;
  font-size: 1rem;
  color: #000;
  font-family: inherit;
}
.hero a.button:hover {
  background: #000;
  color: #fff;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.left-small {
  border-right: 0px;
}
.features {
  margin-top: 10em;
  text-align: center;
  margin-bottom: 6em;
}
.features hr {
  width: 25%;
  margin: 1rem auto;
}
.features .round-icon {
  background-color: #fe8b05;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  display: table;
  height: 70px;
  margin: -61px auto 1rem;
  width: 70px;
  font-size: 2.2rem;
}
.features .round-icon span {
  color: #fff;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
form.uploader {
  margin: 10px;
}
input.file-input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.file-input + label {
  text-transform: uppercase;
  font-size: 1em;
  font-weight: 700;
  color: #000;
  display: inline-block;
  cursor: pointer;
  border-style: solid;
  background-color: rgba(0,0,0,0);
  border-width: 2px;
  border-color: #000;
  padding: 0.75rem 2.5rem;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  font-family: Lato, "Helvetica Neue", Arial, sans-serif;
}
.file-input:focus + label,
.file-input + label:hover {
  background-color: #000;
  color: #fff;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border-style: solid;
  border-width: 2px;
  border-color: #000;
}
.file-input:focus + label {
  outline: 1px dotted #000;
  outline: -webkit-focus-ring-color auto 5px;
}
input.button2 {
  margin: 0.35rem;
  text-transform: uppercase;
  font-size: 1em;
  font-weight: 700;
  color: #000;
  display: inline-block;
  cursor: pointer;
  border-style: solid;
  background-color: rgba(0,0,0,0);
  border-width: 2px;
  border-color: #000;
  padding: 0.75rem 2.5rem;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  font-family: Lato, "Helvetica Neue", Arial, sans-serif;
}
input.button2:hover {
  background: #000;
  color: #fff;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
input.button2:disabled {
  background-color: rgba(0,0,0,0.1);
  color: rgba(0,0,0,0.6);
  border-color: rgba(0,0,0,0.6);
}
table.filetable {
  margin: auto;
  border-collapse: collapse;
  border: 1;
}
table.filetable tr {
  border: 0;
  background: #fff;
  border-bottom: 1px;
  border-style: solid;
}
table.filetable th,
table.filetable td {
  font-size: 1em;
}
table.filetable thead tr {
  border-color: #000;
}
table.filetable tbody tr {
  border-color: #999;
}
table.filetable th {
  padding: 1em;
}
table.filetable input.button {
  margin: 0;
  padding: 0.6em 1.3em;
}
.error {
  background-color: #ffc3b9;
  border-style: solid;
  border-width: 2px;
  border-color: #bf3d25;
  padding: 0.5rem;
  font-size: 1.5rem;
  color: #791200;
}
input[type="text"],
input[type="password"] {
  margin: auto;
  margin-top: 0.2rem;
  max-width: 30%;
}
footer.footer {
  background-color: #e9e9e9;
  padding: 2rem 3rem;
  text-align: center;
}
footer.footer a {
  font-weight: 600;
  color: #333;
  font-size: 0.9rem;
}
footer.footer a:hover {
  color: #777;
}
footer.footer p {
  font-size: 0.9rem;
  margin: 0;
}
@media only screen and (min-width: 40.0625em) {
  nav.top-bar {
    overflow: hidden;
  }
  .hero {
    height: 32rem;
  }
  .hero h1 {
    padding-top: 4.5rem;
    font-size: 3.75rem;
    text-align: center;
  }
  .hero p {
    font-size: 1.75em;
  }
  .hero a.button,
  .hero input[type='submit'] {
    border-width: 2px;
    font-size: 1.3rem;
    padding: 1rem 3rem;
  }
  .top-bar {
    max-width: 62.5rem;
    margin: 0 auto;
  }
  .top-bar-section ul {
    margin-left: 1em;
  }
  .top-bar-section li:not(.has-form) a:not(.button) {
    background: #fff;
  }
  table.filetable {
    width: 40%;
  }
  .features .round-icon {
    height: 100px;
    width: 100px;
    font-size: 3em;
  }
  .footer .columns:nth-child(n+2) {
    border-left: 1px solid #b3b3b3;
    min-height: 7em;
  }
}
@media only screen and (max-width: 40.0625em) {
  .features .columns {
    margin-bottom: 5rem;
  }
  .footer div {
    margin-bottom: 0.5rem;
    padding-top: 0.5rem;
  }
  .footer .columns:nth-child(n+2) {
    border-top: 1px solid #b3b3b3;
  }
}

