<!DOCTYPE html>
<html>
	<head>
		<meta charset=utf-8>
		<title>Three.js eventListener</title>
		<style>
			body { margin: 0; }
			canvas { width: 100%; height: 100% }
		</style>
	</head>
	<body>
		<script src="js/three.min.js"></script>
		<script src="js/threex.domevents.js"></script>
		<script src="js/StereoEffect.js"></script>
		<script src="js/DeviceOrientationControls.js"></script>
  		<script src="js/OrbitControls.js"></script>
		<script>
			//declare variable
			var camera, scene, renderer, container, element;
			var geometry;
			var effect;
			var backimg;
			var backImage;
			var controls;
			var mouseX = 0, mouseY = 0;
			var windowHalfX = window.innerWidth / 2;
			var windowHalfY = window.innerHeight / 2;
			document.addEventListener( 'mousemove', onDocumentMouseMove, false );

			init();

			function init(){
				//init scene
				scene = new THREE.Scene();

				//init camera
				camera = new THREE.PerspectiveCamera( 75, window.innerWidth/window.innerHeight, 0.1, 100000 );
				camera.position.z = 700;
				scene.add(camera);

				//set up renderer, container, and domElement
				renderer = new THREE.WebGLRenderer();
				renderer.setSize( window.innerWidth, window.innerHeight );
				container = document.createElement( 'div' );
  				element = renderer.domElement;
  				container.appendChild( element );
				document.body.appendChild( container );

				//set up StereoEffect
				effect = new THREE.StereoEffect(renderer);
				effect.setSize( window.innerWidth, window.innerHeight );

				//add a background image 
				backimg = new THREE.MeshBasicMaterial({ map:THREE.ImageUtils.loadTexture('background.jpg')});
				backImage = new THREE.Mesh(new THREE.PlaneGeometry(32000, 20000),backimg);
				backImage.overdraw = true;
        		backImage.position.z = -8000;
        		scene.add(backImage);

        		window.addEventListener( 'resize', onWindowResize, false );

        		controls = new THREE.OrbitControls(camera, element);
  					controls.target.set(
    				camera.position.x + 0.15,
    				camera.position.y,
    				camera.position.z
  				);
  				controls.enablePan = false;
  				controls.enableZoom = false;
  				
  				// window.addEventListener('deviceorientation', setOrientationControls, true);

  				//controls = new THREE.DeviceOrientationControls(camera, true);
  	// 		controls.connect();
  	// 		controls.update();
  	// 		element.addEventListener('click', fullscreen, false);
  	// 		window.removeEventListener('deviceorientation', setOrientationControls, true);

			}

			//handle window resizing
			function onWindowResize() {

				windowHalfX = window.innerWidth / 2;
				windowHalfY = window.innerHeight / 2;

				camera.aspect = window.innerWidth / window.innerHeight;
				camera.updateProjectionMatrix();

				renderer.setSize( window.innerWidth, window.innerHeight );
				effect.setSize( window.innerWidth, window.innerHeight );

			}

			//
			function onDocumentMouseMove(event) {

				mouseX = ( event.clientX - windowHalfX ) * 10;
				mouseY = ( event.clientY - windowHalfY ) * 10;

			}

			//
			function setOrientationControls(e) {
    			if (!e.alpha) 
      				return;
    		}

			//animate
			var render = function () {
				requestAnimationFrame( render );
				effect.render(scene, camera);
			};


			render();

		</script>
		
	</body>
</html>